name: Workflow for minify json

on: [push]

jobs:
  minify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      - name: minify json
        uses: ./.github/action-minify-json/
      - name: commit changes
        uses: EndBug/add-and-commit@v4
        with:
          message: "[Workflow] minify json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
